# FCT Unesp
Aluno: Pétrus Antonio Bárbosa Pradella

##### Importando bibliotecas

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.mlemodel import MLEResults
import datetime

In [1]:
pred = (([10641.97455849, 11314.15105307, 11976.75170441, 12629.9936932 ,
       13274.08927446, 13909.24588925, 14535.66627385, 15153.54856649,
       15763.08641158, 16364.4690617 , 16957.88147714, 17543.5044233 ]),
        
        ([  58.66328973,  129.98644183,  215.61611446,  312.9283125 ,
        420.11639452,  535.84609477,  659.07801584,  788.97122213,
        924.82623775, 1066.04893307, 1212.12636535, 1362.60989832]), ([[10526.9966234 , 10756.95249358],
       [11059.3823086 , 11568.91979754],
       [11554.15188559, 12399.35152323],
       [12016.66547095, 13243.32191545],
       [12450.67627188, 14097.50227704],
       [12859.00684225, 14959.48493624],
       [13243.89709981, 15827.43544789],
       [13607.19338627, 16699.9037467 ],
       [13950.46029363, 17575.71252953],
       [14275.05154712, 18453.88657627],
       [14582.15745634, 19333.60549794],
       [14872.83809761, 20214.17074899]]));

In [2]:
pred

([10641.97455849,
  11314.15105307,
  11976.75170441,
  12629.9936932,
  13274.08927446,
  13909.24588925,
  14535.66627385,
  15153.54856649,
  15763.08641158,
  16364.4690617,
  16957.88147714,
  17543.5044233],
 [58.66328973,
  129.98644183,
  215.61611446,
  312.9283125,
  420.11639452,
  535.84609477,
  659.07801584,
  788.97122213,
  924.82623775,
  1066.04893307,
  1212.12636535,
  1362.60989832],
 [[10526.9966234, 10756.95249358],
  [11059.3823086, 11568.91979754],
  [11554.15188559, 12399.35152323],
  [12016.66547095, 13243.32191545],
  [12450.67627188, 14097.50227704],
  [12859.00684225, 14959.48493624],
  [13243.89709981, 15827.43544789],
  [13607.19338627, 16699.9037467],
  [13950.46029363, 17575.71252953],
  [14275.05154712, 18453.88657627],
  [14582.15745634, 19333.60549794],
  [14872.83809761, 20214.17074899]])

In [38]:
import pandas as pd
from datetime import timedelta
ultimo_dia = pd.to_datetime('05-08-2020');
df_pred = pd.DataFrame(columns=['date', 'deaths']);
for previsao in pred[0]:
    ultimo_dia = ultimo_dia + timedelta(days=1)
    df_pred = pd.concat([df_pred, pd.DataFrame(data={'date': [ultimo_dia], 'deaths' : [previsao]})], axis=0)

2020-05-09 00:00:00 10641.97455849
2020-05-10 00:00:00 11314.15105307
2020-05-11 00:00:00 11976.75170441
2020-05-12 00:00:00 12629.9936932
2020-05-13 00:00:00 13274.08927446
2020-05-14 00:00:00 13909.24588925
2020-05-15 00:00:00 14535.66627385
2020-05-16 00:00:00 15153.54856649
2020-05-17 00:00:00 15763.08641158
2020-05-18 00:00:00 16364.4690617
2020-05-19 00:00:00 16957.88147714
2020-05-20 00:00:00 17543.5044233

        date        deaths
0 2020-05-09  10641.974558
0 2020-05-10  11314.151053
0 2020-05-11  11976.751704
0 2020-05-12  12629.993693
0 2020-05-13  13274.089274
0 2020-05-14  13909.245889
0 2020-05-15  14535.666274
0 2020-05-16  15153.548566
0 2020-05-17  15763.086412
0 2020-05-18  16364.469062